.header-text{
    margin: 10px;
    margin-left: 50px;
    font-family:"FRIZON";
    font-size: 30px;
    text-align: left;
    color: #04c39b;
}
.header-text-fa{
    margin: 10px;
    margin-left: 140px;
    font-family:"IRANSansWeb";
    font-size: 20px;
    text-align: left;
    color: #04c39b;
}
.header-div{
    background: linear-gradient(110deg, #04658c 50%, #07a7e6 60%);
    padding: 5px;
    border-radius: 20px;
}
body{
    background: linear-gradiant(to bottom righ, #333333, #121212);
}
.sec-header{
    margin: 15px;
    margin-right: 25px;
    margin-top: 20ps;
    text-align: right;
    font-family: "IRANSansWeb";
    color: #04658c;
}
.about-page{
    margin: 10px;
    text-align: right;
    font-family: "IRANSansWeb";
    color: #04658c;
}
.section-1{
    background: linear-gradient(110deg, #04aa86 50%, #4cffd8 60%);
    margin: 10px;
    background-color: #04c39b;
    border: solid #04c39b 10px;
    border-radius: 20px;
}
