* {
  font-family: iransans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header And Navigation */

header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 102, 141, 0.5),rgba(4, 102, 141, 0.5)),url(../Images/Banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

header.actived {
  background-color: #222b38;
  background-image: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
  align-items: center;
}

nav img {
  width: 90px;
  height: 100px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links a {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin: auto;
  background: #03c39a;
  transition: 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Mobile Navigation */

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: #222b38;
  margin-top: 120px;
  transition: 0.4s;
}

.mobile-nav.actived {
  left: 0;
}

.mobile-nav a {
  display: block;
  text-align: center;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 200px;
  padding: 12px 16px;
  background-color: #233572;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.mobile-nav a:hover {
  background-color: #344fa8;
}

.hamburger {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  appearance: none;
  border: none;
  outline: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #03c39a;
  margin: 6px 0px;
  border-radius: 25px;
  transition: .4s;
}

.hamburger.actived:before {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.hamburger.actived:after {
  transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.actived .bar {
  transform: translate(-40px);
  opacity: 0;
}

/* Header */

.welcome {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.welcome h1 {
  font-size: 60px;
}

.welcome p {
  font-size: 20px;
  padding: 10px;
}

.start-btn {
  display: inline-block;
  text-decoration: none;
  color: #121212;
  font-size: 18px;
  padding: 12px 34px;
  margin: 5px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #0CEBEB, #20E3B2, #29FFC6);
}

.start-btn::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin: auto;
  background: #121212;
  transition: 0.4s;
}

.start-btn:hover::after {
  width: 100%;
}

.header-text {
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
}

.header-text h2 {
  font-size: 35px;
}

.header-text .white {
  color: #fff;
}

.header-text .blue {
  color: #0CEBEB;
}

.header-text p {
  padding: 5px;
  font-size: 20px;
}

/* Projects Section */

.projects {
  background-image: linear-gradient(to bottom right, #333333, #121212);
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.projects .grid {
  display: flex;
  justify-content: space-between;
}

.grid .image {
  position: relative;
  float: left;
  width: 250px;
  height: auto;
  aspect-ratio: 300 / 550;
  margin: 0 0 0 25px;
  padding: 0;
}

.grid div span {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 250px;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.grid .image img {
  width: 250px;
  height: 458px;
  aspect-ratio: 300 / 550;
}

.figur {
  border-radius: 15px;
  color: #fff;
  transform: scale(1);
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 250px;
  height: 458px;
  aspect-ratio: 300 / 550;
  color: #000000;
  text-align: center;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.figur * {
  transition: all 0.6s ease;
}

.figur img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: #fff;
}

.figur figcaption {
  position: absolute;
  top: 62%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.figur span {
  margin: 0;
  width: 100%;
  opacity: 0;
}

.figur span p {
  padding: 0 20px;
  font-size: 0.8em;
  font-weight: 500;
}

.figur span h2 {
  padding: 0 15px;
  display: inline-block;
  font-weight: bold;
}

.figur a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.figur::after {
  background: #ffffff;
  width: 120%;
  height: 120%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.figur:hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.figur:hover figcaption span {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.figur:hover figcaption span {
  opacity: 0.7;
}

.figur:hover img {
  transform: scale(1.3);
}

/* Responsiving */

@media (max-width: 768px) {
  nav img{
      padding-top: 4%;
      width: 70px;
      height: 80px;
  }

  .grid {
    flex-direction: column;
  }

  .grid .image {
    margin: 0 0 20px 17.5px;
    padding: 0;
  }

  .hamburger{
      margin-right: 2%;
  }

  .welcome h1{
      font-size: 27px;
  }

  .welcome p{
      margin-top: 15px;
      font-size: 16px;
  }

  .header-text h2{
      font-size: 25px;
  }

  .header-text p{
      font-size: 16px;
  }

  .start-btn{
      margin-top: 30px;
      font-size: 16px;
  }

  .nav-links{
      display: none;
  }

}

@media (min-width:768px) {
  .mobile-nav{
      display: none;
  }

  .hamburger{
      display: none;
  }
  
}