* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans;
}

body {
    background: linear-gradient(to bottom right, #474747, #121212);
}

header {
    /* width: 90%; */
    top: 0;
    display: flex;
    margin: 30px 0 0 calc(50% - 222.5px);
}

header img {
    width: 90;
    height: 100;
}

header h2 {
    color: #04668d;
    font-family: FRIZON;
    font-size: 35px;
    margin-top: 25px;
    margin-left: 10px;
    width: 345px;
}

.inputs {
    width: 260px;
    display: inline-block;
    margin: 7% 0 0 calc(50% - 130px);
    border: solid #04668d 3px;
    border-radius: 10px;
    padding: 20px;
    transition: .4s;
}

#username {
    font-family: consolai;
    font-size: 15px;
    width: 182px;
    height: 30px;
    margin: 15px;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    outline: 3px #ffefa8 solid;
}

#username::placeholder {
    color: rgb(179, 179, 179);
    opacity: 1;
}

#password {
    font-family: consola;
    font-size: 15px;
    width: 182px;
    height: 30px;
    margin: 15px;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    outline: 3px #ffefa8 solid;
}

#password::placeholder {
    color: rgb(179, 179, 179);
    opacity: 1;
}

#login {
    background-image: linear-gradient(to bottom right, #0CEBEB, #20E3B2, #29FFC6);
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    margin: 15px 15px 15px 60px;
}
