* {
    font-family: iransans;
    margin: 0;
    padding: 0;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #333333, #121212);
    background-size: cover;
    background-position: center;
    position: relative;
}
header.actived{
    background-color: #222b38;
    background-image: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    align-items: center;
}
nav img{
    width: 90px;
    height: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links a{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: #fff;
    text-decoration: none;
}
.nav-links a::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background: #03c39a;
    transition: 0.4s;
}
.nav-links a:hover::after{
    width: 100%;
}
.mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #222b38;
    margin-top: 120px;
    transition: 0.4s;
}
.mobile-nav.actived{
    left: 0;
}
.mobile-nav a{
    display: block;
    text-align: center;
    margin: 0 auto 16px;
    width: 100%;
    max-width: 200px;
    padding: 12px 16px;
    background-color: #233572;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.mobile-nav a:hover{
    background-color: #344fa8;
}
.hamburger{
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: none;
    appearance: none;
    border: none;
    outline: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #03c39a;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.actived:before{
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger.actived:after{
    transform: rotate(45deg) translate(-9px, -7px);
}
.hamburger.actived .bar{
    opacity: 0;
}
.welcome{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.welcome h1{
    font-size: 60px;
}
.welcome p{
    font-size: 20px;
    padding: 10px;
}
.start-btn{
    display: inline-block;
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    padding: 12px 34px;
    margin: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #0CEBEB, #20E3B2, #29FFC6);
}
.start-btn::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: auto;
    background: #121212;
    transition: 0.4s;
}
.start-btn:hover::after{
    width: 100%;
}
@media (max-width: 768px) {
    nav img{
        padding-top: 4%;
        width: 80px;
        height: 90px;
    }
    .hamburger{
        margin-right: 2%;
    }
    .welcome h1{
        font-size: 30px;
    }
    .welcome p{
        margin-top: 15px;
        font-size: 16px;
    }
    .start-btn{
        margin-top: 30px;
        font-size: 16px;
    }
    .nav-links{
        display: none;
    }
}
@media (min-width:1024px) {
    .mobile-nav{
        display: none;
    }
    .hamburger{
        display: none;
    }
}